In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

y = pd.read_csv('labels.csv')
X = pd.read_csv('train.csv')

In [13]:
print("Our intial input data")
X

Our intial input data

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x61,x62,x63,x64,x65,x66,x67,x68,x69,x70
0,-0.26,0.43,-0.30,0.76,-0.14,-0.23,-0.28,-0.81,-0.10,0.58,...,-0.90,-0.32,0.10,1,2,7,5,5,1,1
1,-0.15,-0.24,-0.68,-0.27,0.69,0.45,-0.05,-0.58,-0.12,0.41,...,-0.49,1.05,-0.66,2,3,3,6,4,1,1
2,0.74,-1.09,-0.01,-0.49,-0.71,-0.41,0.28,-1.47,0.45,0.03,...,0.71,0.12,-0.36,2,2,1,1,5,1,0
3,-1.08,-0.43,0.83,0.98,-0.41,0.01,0.65,0.59,0.12,-0.52,...,0.51,0.70,0.44,0,3,1,5,3,0,0
4,0.18,0.96,0.01,0.33,0.63,-0.16,-0.24,-0.27,0.23,0.49,...,0.95,-1.22,0.38,0,6,7,6,5,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.76,-0.33,-0.09,-1.15,-0.38,0.47,1.03,0.50,0.60,1.89,...,-0.46,-0.87,-0.19,1,8,2,0,9,-1,0
9996,-0.51,0.09,-0.01,-1.00,-0.56,-0.40,0.41,-1.11,0.79,1.12,...,0.38,0.28,-0.26,0,9,2,0,9,0,-1
9997,0.60,-0.15,-0.34,-0.05,0.94,-0.24,0.36,-0.61,-0.94,0.57,...,0.18,-0.53,-0.66,3,7,3,3,2,-1,1
9998,0.00,-0.70,0.75,-0.01,0.21,-0.22,-0.59,0.36,0.08,-0.09,...,-0.05,-0.03,0.75,2,3,8,1,5,0,-1
9999,0.39,0.05,-0.34,-0.14,-0.48,0.15,0.45,0.10,0.26,0.41,...,1.76,-0.14,-0.54,3,6,1,4,8,1,1

In [14]:
print ("Our testing data")
y

Our testing data

      y
0     6
1     2
2     6
3     1
4     9
...  ..
9995  6
9996  8
9997  9
9998  1
9999  0

[10000 rows x 1 columns]

In [20]:


# Alternatively, you can use the transpose() function

# Print the resulting row vector


## Assuming you have your input features in X and target labels in y
# X shape: (number of samples, number of features)
# y shape: (number of samples,)

# Split the data into training and testing sets

scaler = StandardScaler()
#scaler.fit(data)
#scaled_data=scaler.transform(data)
#
pca=PCA(n_components=25)
#pca.fit(scaled_data)
#x_pca=pca.transform(scaled_data)
#print(np.shape(scaled_data))
#print(np.shape(x_pca))

#plt.figure(figsize=(8,6))
#plt.scatter(x_pca[:,0],x_pca[:,1], c=y)
#plt.xlabel('First principle component')
#plt.ylabel('Second principle component')
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
# Create a Random Forest classifier with 100 trees
rf_classifier = RandomForestClassifier(n_estimators=500,oob_score=True)
#The OOB error estimate measures the performance of the random forest on unseen data points using only the trees that were not used during their training. By monitoring the OOB error as you increase the number of trees, you can determine when adding more trees ceases to improve the model's accuracy.
rf_classifier.fit(X_train, y_train)

oob_score = rf_classifier.oob_score_
print("OOB Score:", oob_score)
# Train the classifier on the training data
rf_classifier.fit(X_train, y_train)

# Predict the labels for the test data
y_pred = rf_classifier.predict(X_test)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

/tmp/ipykernel_7704/3910729082.py:37: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_classifier.fit(X_train, y_train)

OOB Score: 0.50125

/tmp/ipykernel_7704/3910729082.py:42: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_classifier.fit(X_train, y_train)

Accuracy: 0.5345